<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Dogs</title>
    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
    </style>
  </head>
  <body>

    <!-- <p><%= dogs %></p> -->
    <h1>All Dogs</h1>

    <table>
      <tr>
        <th>Name</th>
        <th>Breed</th>
        <th>Color</th>
        <th>Age</th>
        <th>Action</th>
      </tr>

      <% for (var dog of dogs) { %>
      <tr>
        <td><a href="/dogs/<%=dog.id%>"><%= dog.name %></a></td>
        <td><%= dog.breed %></td>
        <td><%= dog.color %></td>
        <td><%= dog.age %></td>
        <td><a href="/dogs/edit/<%= dog.id %>">Edit</a> | <a href="/dogs/destroy/<%= dog.id %>">Remove</a></td>
      </tr>
      <% } %>
    </table>

    <a href="/dogs/new">Add a Dog</a>


  </body>
</html>
